extends ..//_layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page.active
                a(href='/team/') The Team
              li.front-page
                a(href='/car2019/') The Car
              li.front-page
                a(href='/competition/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact


  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        img.img-responsive(src='/img/team2019.JPG' style="object-fit:cover; max-height:600px; min-height:300px; width:100%;")
      .col-lg-2
  .container-fluid(style="margin-bottom:50px;")
    .row
      .col-lg-2
      .col-lg-8
        h1(style="font-weight:800;")
          | The UVic Formula Motorsport Team
        p
          | The UVic Formula Motorsport team is a university club whose goal is to design and build a new small,
          | open-wheeled, formula-style car each year.  The car then competes in Formula SAE, which is the world's
          | largest collegiate design competition.
          br
        p
          | Our members are highly dedicated and motivated students who seek to get the most out of their university experience.
          | Throughout the year, the team puts thousands of hours into the development of the prototype vehicle, and the
          | members expand their knowledge far beyond what is achieved during a Bachelor's degree alone.  Team members
          | gain valuable experience with practical applications of engineering theory, business and relations, hands-on design,
          | and manufacturing.
          br
      //  p
      //    | The Formula Motorsport team is made up of leads for different design elements, along with many other students
      //    | who operate
      //    | outside the curriculum and outside the classroom, striving to acquire applicable lessons in
      //    | engineering theory, business and relations, hands-on-design, and manufacturing.
      //    br


  br
  .container.marketing
    .row
      // First row
      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/Blake.jpg', alt='Blake Sigwin', width='280', height='280')
        h2 Blake Sigwin
        h4
          strong
            | Team Principal
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Administration
          br
          | Sponsorship Coordinator
          br
          | Team Direction

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/Raimund.jpg', alt='Raimund Mullin', width='280', height='280')
        h2 Raimund Mullin
        h4
          strong
            | Project Manager
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Project Management
          br
          | Team Coordination
          br
          | Budget Management

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/noimg.jpg', alt='Josiah Macleod', width='280', height='280')
        h2 Josiah Macleod
        h4
          strong
            | Chief Engineer
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | System Integration
          br
          | Design Review Coordination
          br
          | Standards Development

          br
         .container.marketing
           .row

           // Second Row
       .col-md-6.col-lg-4.teambox
         img.img-circle.teampic(src='/img/team-2020/noimg.jpg', alt='Peter Touchinski', width='280', height='280')
         h2 Peter Touchinski
         h4
           strong
             | Drivetrain Lead
         hr(style="margin-top:0;margin-bottom:0;")
         p
           | Engine Parts Design
           br
           | Engine Tuning
           br
           | Launch and Traction Control Calibration

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/Mike.jpg', alt='Mike Mckee', width='280', height='280')
        h2 Mike Mckee
        h4
          strong
            | Drivetrain Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Transmission Design
          br
          | Shifting System
          br
          | Differential and Axel Design

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/Nigel.jpg', alt='Nigel Swab', width='280', height='280')
        h2 Nigel Swab
        h4
          strong
            | Vehicle Dynamics Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Vehicle Dynamics Simulation
          br
          | Tire Modelling
          br
          | Data Analysis

          br
         .container.marketing
           .row

           // Third
       .col-md-6.col-lg-4.teambox
         img.img-circle.teampic(src='/img/team-2020/Matthew.jpg', alt='Matthew Peters', width='280', height='280')
         h2 Matthew Peters
         h4
           strong
             | Electrical Lead
         hr(style="margin-top:0;margin-bottom:0;")
         p
           | Wiring Loom Manufacturing
           br
           | PCB Design
           br
           | Sensor Selection

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/Alec.jpg', alt='Alec MacMillan', width='280', height='280')
        h2 Alec MacMillan
        h4
          strong
            | Suspension and Brakes Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Suspension Design
          br
          | Brake Design
          br
          | Suspension Manufacturing

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/noimg.jpg', alt='Unfilled', width='280', height='280')
        h2 Unfilled
        h4
          strong
            | Frame Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Chassis Design
          br
          | Fabrication
          br
          | System Integration

          br
         .container.marketing
           .row

           // Fourth
       .col-md-6.col-lg-4.teambox
         img.img-circle.teampic(src='/img/team-2020/Axel.jpg', alt='Axel Endongo', width='280', height='280')
         h2 Axel Endongo
         h4
           strong
             | Aerodynamics Lead
         hr(style="margin-top:0;margin-bottom:0;")
         p
           | Composites
           br
           | Composites Manufacturing
           br
           | Mold Design

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/David.jpg', alt='David Kania', width='280', height='280')
        h2 David Kania
        h4
          strong
            | Aerodynamics Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Vechicle Aerodynamics
          br
          | Composites Manufacturing
          br
          | Aesthetics

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team-2020/noimg.jpg', alt='Duncan Wallace', width='280', height='280')
        h2 Duncan Wallace
        h4
          strong
            | Ergonomics Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Driver Ergonomics
          br
          | Steering Wheel Design
          br
          | Pedal Box Design


  include ../_sponsors.jade
