extends ../_layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team
              li.front-page
                a(href='/car2020/') The Car
              li.front-page
                a(href='/competition/') The Competition
              li.front-page.active
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/projects/') Team Projects
              li.front-page
                a(href='/contact/') Contact

  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        img.img-responsive(src='/img/sponsorpage/package2edit.jpg' style="object-fit:cover; max-height:600px; min-height:300px; width:100%;")
      .col-lg-2

  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        h1(style="font-weight:800; font-size: 60px; text-align: center;")
          | Sponsorship
        p
          | In order to complete a vehicle every year, we rely on donations and sponsorship from local, national, and
          | international partners. We focus our expenses on necessary components like the frame, registration, tires,
          | materials, and any improvements that yield the largest benefit for their cost.
          | Though we have a lower budget than other top tier teams, we are able to continually improve our designs as we
          | receive more contributions and as we improve as experienced students.
        p
          | We would like to thank all of our current sponsors, and any new sponsors for your contributions.
          | By sponsoring our team, you not only allow us to continue to do what we love, but also allow the team to reach
          | new levels. Each year we promote an experienced team who develop into industry leading engineers.
          | All of this  would not be possible without your support.
        p
          | If you are interested in partnering with UVic Formula Motorsport, please contact us at
          | uvic.fsae (at) gmail.com
      .col-lg-2

  // GOLD
  .sponsorship
    div
      .container-fluid
        .row
          .col-lg-12
            h1
              | Gold Sponsors

        hr
      .container-fluid.sponsors(style="padding-bottom: 50px;")
        .row
          .col-lg-2
          .col-lg-8.goldsponsor
            p(style="color:black;text-align:center;")
              //AVL RACING
              a(href='https://www.avl.com/racing' target="_black")
                img(src='/img/UV19Sponsors/GoldSponsors/avlracing_med.png')
              //CRP USA
              a(href='http://www.crp-usa.net/' target="_blank")
                img(src='/img/UV19Sponsors/GoldSponsors/crpusa_med.jpg')
              //FOREMAN CNC
              a(href='http://www.foremancnc.ca/' target="_blank")
                img(src='/img/UV19Sponsors/GoldSponsors/foremancnc_med.png')
              //GA INDUSTRIES
              a(href='https://gaindustries.ca/' target="_black")
                img(src='/img/UV19Sponsors/GoldSponsors/gaindustries_med.jpg')
              //HONDA
              a(href='https://www.honda.ca/' target="_black")
                img(src='/img/UV19Sponsors/GoldSponsors/honda_lg.jpg')
              //MASTERCAM
              a(href='https://www.mastercam.com/' target="_black")
                img(src='/img/UV19Sponsors/GoldSponsors/mastercam_lg.jpg')
              //RAINHOUSE
              a(href='http://www.rainhouse.com/' target="_blank")
                img(src='/img/UV19Sponsors/GoldSponsors/Rainhouse_lg.png')
              //SKF BEARINGS
              a(href='https://www.skf.com/ca/en/index.html' target="_black")
                img(src='/img/UV19Sponsors/GoldSponsors/SKFcorp_sm.png')
          .col-lg-2

    // SILVER
    div
      .container-fluid
        .row
          .col-lg-12
            h1
              | Silver Sponsors

            hr
      .container-fluid.sponsors(style="padding-bottom: 50px;")
        .row
          .col-lg-2
          .col-lg-8.silversponsor
            p(style="color:black;text-align:center;")
              //ACTION MOTORCYCLES
              a(href='https://www.action-motorcycles.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/actionmoto_sm.png')
              //AIRTECH
              a(href='https://www.airtechintl.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/airtech_lg.jpg')
              //ALTIUM
              a(href='https://www.altium.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/altium_med.jpg')
              //ANOTEK
              a(href='http://www.anotekanodizing.com/home.html' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/anotekano_med.jpg')
              //APEG
              a(href='https://www.egbc.ca/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/apeg_sm.jpg')
              //BCRACING
              a(href='https://www.bcracing-na.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/bcracing_lg.png')
              //BREMBO
              a(href='https://www.brembo.com/en/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/brembo_med.png')
              //CARMENA PERFORMANCE
              a(href='https://www.carmenaperformance.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/carmenaperformance_med.jpg')
              //EAGLE MACHINE
              a(href='https://eaglemachine.ca/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/eaglemach_lg.jpg')
              //LINK ECU
              a(href='https://www.linkecu.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/link_sm.png')
              //LORDCO
              a(href='http://www.lordco.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/lordco_sm.jpg')
              //PARADIGM AUTO WORKS
              a(href='https://www.paradigmautoworks.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/paradigm_sm.png')
              //PHOTON CONTROL
              a(href='https://www.photoncontrol.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/photoncontrol_lg.png')
              //PLEX
              a(href='https://www.plex-tuning.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/plex_med.jpg')
              //PROCOM
              a(href='http://procompowder.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/procom_lg.png')
              //RAPIDHARNESS
              a(href='https://rapidharness.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/rapidharness_large.png')
              //RICARDO
              a(href='https://ricardo.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/ricardo_sm.jpg')
              //SAE BC CHAPTER
              a(href='https://www.saebritishcolumbia.org/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/saebc_med.png')
              //SEASTAR
              a(href='http://www.seastarsolutions.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/seastar_sm.png')
              //SIGMATEX
              a(href='https://www.sigmatex.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/sigmatex_med.png')
              //SOLIDWORKS
              a(href='https://www.solidworks.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/solidworks_sm.png')
              //UVIC ALUMNI
              a(href='https://www.uvic.ca/alumni/index.php' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/uvicalumni_sm.jpg')
              //UVIC ENGINEERING
              a(href='https://www.uvic.ca/engineering/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/uvicengr_lg.jpg')
              //UVIC ESS
              a(href='http://ess.uvic.ca/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/uvicess_med.jpg')
              //UVIC MACHINE SHIOP
              //a(href='https://www.uvic.ca/engineering/mechanical/current/undergraduate/machine-shop/index.php' target="_blank")
                //img(src='/img/UV19Sponsors/SilverSponsors/.png')
              //VIMC
              a(href='https://islandmotorsportcircuit.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/vimc_med.png')
              //VMAC
              a(href='https://www.vmacair.com/' target="_blank")
                img(src='/img/UV19Sponsors/SilverSponsors/vmac_lg.jpg')
          .col-lg-2

    // Steel
    div
      .container-fluid
        .row
          .col-lg-12
            h1
              | Steel Sponsors

            hr
      .container-fluid.sponsors(style="padding-bottom: 50px;")
        .row
          .col-lg-2
          .col-lg-8.steelsponsor
            p(style="color:black;text-align:center;")
              //AURORA
              a(href='https://www.aurorabearing.com/index.html' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/aurora_sm.jpg')
              //CALSPAN
              a(href='https://www.calspan.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/calspan_sm.png')
              //CAMPUS HONDA
              a(href='https://www.campushonda.com/en-CA/home' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/campushonda_med.png')
              //CLOVERDALE PAINT
              a(href='https://www.cloverdalepaint.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/cloverdale_md.png')
              //DEATSCHWERKS
              a(href='https://www.deatschwerks.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/deatschwerks_lg.png')
              //ELITE PERMOTION
              a(href='https://www.elitepromomarketing.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/elite_sm.png')
              //HMS MOTORSPORT
              a(href='https://www.hmsmotorsport.com/' target="_blank").silversmall
                img(src='/img/UV19Sponsors/SteelSponsors/hmsmotorsport_lg.png')
              //HOLLEY
              a(href='https://www.holley.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/holley_lg.jpg')
              //Hoosier
              a(href='https://www.hoosiertire.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/hoosier_med.jpg')
              //METAL SUPERMARKET
              a(href='https://www.metalsupermarkets.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/metalsuper_lg.jpg')
              //SIEMENS
              a(href='https://new.siemens.com/global/en.html' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/Siemens_lg.png')
              //STARFISH MEDICAL
              a(href='https://starfishmedical.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/starfishmedical_med.png')
              //TEXTREME
              a(href='http://www.textreme.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/TeXtreme_med.png')
              //VIBRANT PERFROMANCE
              a(href='https://vibrantperformance.com/catalog/index.php' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/vibrantperformance_med.png')
              //WAYTEK
              a(href='https://www.waytekwire.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/waytek_sm.png')
              //WESTERN
              a(href='https://www.westernspeedway.net/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/western_med.png')
              //WIRECARE
              a(href='https://www.wirecare.com/' target="_blank")
                img(src='/img/UV19Sponsors/SteelSponsors/wirecare_sm.png')
          .col-lg-2
