hr
.container-fluid.marketing
  .row
    .col-lg-1
      a(href='http://www.crp-usa.net/' target="_blank")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/crpusa_med.jpg', alt='CRP 3D Printing', height='50').pic-align

    .col-lg-2
      a(href='http://www.rainhouse.com/' target="_blank")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/Rainhouse_lg.png', alt='Prototype Equipment Design', height='50').pic-align

    .col-lg-2
      a(href='http://www.foremancnc.ca/' target="_blank")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/foremancnc_med.png', alt='Foreman CNC', height='50').pic-align

    .col-lg-2
      a(href='https://www.mastercam.com/' target="_black")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/mastercam_lg.jpg', alt='Mastercam', height='42').pic-align

    .col-lg-1
      a(href='https://www.honda.ca/' target="_black")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/honda_lg.jpg', alt='Honda', height='50').pic-align

    .col-lg-1
      a(href='https://www.avl.com/racing' target="_black")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/avlracing_med.png', alt='AVL Racing', height='50').pic-align

    .col-lg-1
      a(href='https://gaindustries.ca/' target="_black")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/gaindustries_med.jpg', alt='GA Industries', height='50').pic-align

    .col-lg-2
      a(href='https://www.skf.com/ca/en/index.html' target="_black")
        img.img-rounded(src='/img/UV19Sponsors/GoldSponsors/SKFcorp_sm.png', alt='SKF', height='40').pic-align
