extends ..//_layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team
              li.front-page
                a(href='/car2020/') The Car
              li.front-page
                a(href='/competition/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page.active
                a(href='/projects/') Team Projects
              li.front-page
                a(href='/contact/') Contact


    .container-fluid
      .row
        .col-lg-2
        .col-lg-8
          img.img-responsive(src='/img/drawing.png' style="object-fit:cover; max-height:600px; min-height:300px; width:100%;")
        .col-lg-2
    .container-fluid(style="margin-bottom:50px;")
      .row
        .col-lg-2
        .col-lg-8
          h1(style="font-weight:800;")
            | Team Blog
          P
            | Read about member projects here!
        .col-lg-2
      hr


//  a(href='/NGS_Paradigm/')
//    .container-fluid
//      .row
//        .col-lg-3
//        .col-lg-6
//            img.img-responsive(src='/img/UV19Sponsors/GoldSponsors/paradigm_sm.png' style="object-fit:cover; height:100%; width:100%;")
//        .col-lg-3
//      .row
//        .container-fluid(style="margin-bottom:50px;")
//          .row
//            .text-center.h2 New Gold Sponsor: Paradigm Auto Works
//          .row
//            .col-lg-3
//            .col-lg-6
//                p
//                  | We would like to announce our latest Gold Sponsor Paradigm Auto Works.
//                  | Paradigm offers the team access to their dyno and knowledgable staff to help us tune our engine
//                  | to gain the maximum performance from it.
//            .col-lg-3
//          .row


include ../_sponsors.jade
