extends ../_layout

block content
  link(rel='stylesheet', href='/css/car.css')
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team
              li.front-page.active
                a(href='/car2019/') The Car
              li.front-page
                a(href='/competition/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  // ABOUT THE CARS
  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        img.img-responsive(src='/img/car2019.jpg' style="object-fit:cover; max-height:600px; min-height:300px; width:100%;")
      .col-lg-2

    .row
      .col-lg-2
      .col-lg-8
        h1(style="font-weight:800;")
          | UV19 Features
        p
          | The 2019 car proved to be one of the teams most ambitious undertakings in the last several years due to the many changes made to the design of the cars
          | and to the teams design philosophy. With the decision to move from 13" to 10" wheels in a goal to reduce the overall vehicle weight and become competitive
          | with the top tier teams. As well it was decided to switch engines from an outdated Honda CBR600F4i to a newer Honda CBR600RR due to the lack of available
          | parts for the older engine. These choices resulted in the majority of the parts from the 2018 car to be unusable on the 2019. So the decision was made to
          | keep the 2018 car for driver training resulting in the need for UV19 to be built from the ground up.
          br
          | The 2019 car features many newly engineered components, such as a new intake and exhaust system, new hubs and uprights to accommodate the new 10" centerlock
          | wheels, a curved front wing, DRS system on the rear wing and many more fascinating components.
          br
          | The team faced a lot of adversity in the 2019 year, from an engine blowing up, to suspension carbon fibre a-arm bond failure, to having the entire steering
          | assembly stolen with less then 2 weeks before competition. Despite the difficult times the team was faced with throughout the season they were able to pull
          | through and make it to competition with a completed car and compete with their fellow engineers. Although the 2019 FSAE Michigan finish was not the best
          | result the team has had as compared to previous years the entire team was grateful to have been rewarded for their hard work by making it to competition.
          | The team is grateful for all of the sponsors and individuals who supported them throughout the 2019 season and hope they will continue to do so
          | in the coming 2020 season.


      .col-lg-2
    .row
      .col-lg-2
      .col-sm-8
        // Content
        #content
          section.last
            table.default
              thead
                tr
                  th Specifications
                  th
              tbody
                tr
                  td Car Number
                  td 92
                tr
                  td Color
                  td Yellow with red and blue stripes
                tr
                  td Frame
                  td 4130 Chromoly steel space frame
                tr
                  td Aero
                  td
                    | Carbon Fibre: 4-Piece Body, 3-Element Curved Front Wing, 5-Element Rear Wing, and 3-Element Side Wings
                tr
                  td Suspension
                  td
                    | Independent unequal length carbon fibre A-arms, with pullrod and pushrod actuated Ohlins dampers
                tr
                  td Wheels
                  td
                    | 10" Centerlock OZ one-piece magnesium.
                tr
                  td Engine
                  td Honda CBR600RR with Link Thunder ECU
                tr
                  td Power/Torque
                  td 90 HP @ 13500 RPM/50 ft·lbs @ 10000 RPM
                tr
                  td Fuel
                  td 94 Octane Race
                tr
                  td Transmission
                  td 6-speed Sequential
                tr
                  td Shifter
                  td Electro-pneumatic, button-actuated shifting system resulting in sub-100ms shifts
                tr
                  td Final Drive
                  td #520 chain, 11:37 ratio
                tr
                  td Differential
                  td Drexler
                tr
                  td Brakes, Front
                  td Floating 7" Steel Rotors, Brembo Calipers
                tr
                  td Brakes, Rear
                  td Floating 7" Steel Rotors, Brembo Calipers
              thead
                tr
                  th Dimensions
                  th
              tbody
                tr
                  td Wheelbase
                  td 61"
                tr
                  td Track, Front/Rear
                  td 48″/46″
                tr
                  td Overall Length/Width/Height
                  td 114.8″/56.5"/47"
                tr
                  td Weight
                  td 466 lbs / 211 kg
                tr
                  td Weight Distribution, Front:Rear
                  td 48.1:51.9
              thead
                tr
                  th Performance
                  th
              tbody
                tr
                  td 75 Metre Sprint
                  td 4.935 s
                tr
                  td Top Speed
                  td 150 km/h
                tr
                  td Lateral Grip
                  td 2.0 g
                tr
                  td Braking
                  td 1.44 g
        .col-lg-2
    .row
      .col-lg-2
      .col-lg-8
        section.widget.thumbnails
          .col-lg-3
            h3(style="font-weight:800; text-align: center;") 2013
            .col-lg-12.past-cars
              a(href='/car2013/')
                img.img-responsive(src='/img/car2013.jpg', alt='UV13')
          .col-lg-3
            h3(style="font-weight:800; text-align: center;") 2014
            .col-lg-12.past-cars
              a(href='/car2014/')
                img.img-responsive(src='/img/car2014.jpg', alt='UV14')
          .col-lg-3
            h3(style="font-weight:800; text-align: center;") 2015
            .col-lg-12.past-cars
              a(href='/car2015/')
                img.img-responsive(src='/img/car2015.jpg', alt='UV15')
          .col-lg-3
            h3(style="font-weight:800; text-align: center;") 2016
            .col-lg-12.past-cars
              a(href='/car2016/')
                img.img-responsive(src='/img/car2016.jpg', alt='UV16')
          .col-lg-3
            h3(style="font-weight:800; text-align: center;") 2017
            .col-lg-12.past-cars
              a(href='/car2017/')
                img.img-responsive(src='/img/car2017.JPG', alt='UV17')
          .col-lg-3
            h3(style="font-weight:800; text-align: center;") 2018
            .col-lg-12.past-cars
              a(href='/car2018/')
                img.img-responsive(src='/img/car2018.JPG', alt='UV18')
      .col-lg-2
  include ../_sponsors.jade
